.DS_Store
node_modules
/dist
/examples
/packages
# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log* 

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

# Ignoring examples directory

# libs/
# babel.config.js
# postcss.config.js
# 教程.MD
# .gitignore
# *.map
# *.html
